<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Galathevenet" target='_blank'><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/galathevenet/" target='_blank'><i class="fab fa-linkedin"></i></a>
    <a href="https://www.instagram.com/pom.bleue/" target='_blank'><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    Check out this site code <a href="https://github.com/Galathevenet/portfolio-website" target='_blank'>here</a>!
  </div>
</div>
