<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1><strong>Gala Thévenet</strong></h1>
    <p>Junior fullstack web developper</p>
    <a class="btn-banner" href="#">Discover who I am</a>
  </div>
</div>

<div class="container">
  <div class="description-container">
    <div class="desc-card description">
      <h2 class="desc-card-title">Hi, I'm Gala</h2>
        <%= image_tag ("Gala_cropped.jpg"), :class => "avatar-bordered" %>
        <p class="desc-text mt-5">
          Cheerful junior developer <strong>looking for an opportunity</strong> to improve my coding
          skills with an experienced team.
        </p>
        <p class="desc-text">
          Learning enthusiast, I enjoy challenging myself
          on a daily basis. I'm looking for a <strong>transparent</strong> and <strong>supportive</strong> workspace where
          people believe in their product.
        </p>
        <p class="desc-text mb-3">
          Living in a the middle of the countryside in the mid-west, I'm looking for a remote
          or partial-remote job opportunity. I'm <strong>an hour away from Bordeaux and Toulouse</strong> and <strong>three hours
          away from Paris</strong> with <strong>direct</strong> trains.
        </p>
        <%= link_to '↓ My CV', 'CV_GALATHEVENET_APRIL22.pdf', download: 'GALATHEVENET_CV', class: 'btn-cv' %>
    </div>
    <div class="desc-card stack">
    <h2 class="desc-card-title">What I Know</h2>
      <h3 class="">Technical Stack</h3>
      <h3 class="">Soft skills</h3>
    </div>
    <div class="desc-card hobbies">
    <h2 class="desc-card-title">What I love doing</h2>
    </div>
  </div>

</div>

<%= render "contacts/contact_form" %>
