.btn-banner {
    color: white;
    padding: 16px 24px;
    border-radius: 4px;
    background: #EFBB32;
    text-decoration: none;
    transition: 0.3s ease;

    &:hover {
    border: 2px solid #EFBB32;
    background: white;
    color: #EFBB32;
  }
}

.btn-cv {
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  background: #EFBB32;
  text-decoration: none;
  transition: 0.3s ease;
  position: absolute;
  bottom: 12px;
  right: 10px;

  &:hover {
    border: 2px solid #EFBB32;
    background: white;
    color: #EFBB32;
  }
}
