.desc-card {
  height: 550px;
  text-align: center;
  background-color: #ededed;
  padding: 8px;
  border-radius: 6px;
  box-shadow: 5px 7px 8px 1px rgba(173, 173, 171, 0.3);
  position: relative;
  transition: transform .3s;
  transform: scale(1);

  &:hover {
    transform: scale(1.03);
    transition: transform .3s;
  }

  h2 {
    margin-bottom: 50px;
  }

  .justify-desc-text {
    text-align: justify;
  }

  .left-align-hobbies {
    text-align: left;
  };


  .avatar-bordered {
    position: absolute;
    top: 6px;
    right: 25px;
  }

  .fa-solid {
    color : $yellow;
    font-size: 28px;
    margin-left: 6px;
    margin-right: 12px;
    margin-bottom: 15px;
  }

}
