.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color: $light-gray;
  text-shadow: 1px 1px $gray;
  // background-color: #ededed;
  padding: 8px;
  border-radius: 6px;
  box-shadow: 5px 7px 8px 1px rgba(173, 173, 171, 0.3);
  transition: transform .3s;
  transform: scale(1);
  position: relative;

  &:hover {
    transform: scale(1.03);
    transition: transform .3s;
  }


  h2 {
    margin-bottom: 50px;
    text-shadow: 1px 1px $gray;
  }

  .justify-desc-text {
    text-align: justify;
  }

}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
